<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id       ="aero.glideport.gt"
    version  ="1.0.0" >
    <name>GlideTrack</name>
    <description>Mobile device tracker for gliders.</description>
    <author email="info@glideport.aero" href="http://glideport.aero">
        TipTop Software, Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/GT.png" />
    <!-- <gap:splash src="splash.png" /> -->

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <!-- <gap:platform name="winphone" /> -->

    <preference name="target-device" value="universal" />
    <!-- iOS only: handset, tablet, universal -->
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <!-- <preference name="HideKeyboardFormAccessoryBar" value="true" /> -->
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="EnableViewportScale" value="false" />

    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <!-- <gap:plugin name="org.apache.cordova.splashscreen" /> -->
    <!-- <preference name="splashscreen" value="img/gp-splash.png" /> -->
    <!-- <gap:plugin name="org.apache.cordova.console" /> -->
    <gap:plugin name="com.simplec.plugins.powermanagement" />
    <gap:plugin name="de.appplant.cordova.plugin.email-compose" />


</widget>
